---
import Base from '../../layouts/Base.astro';
import Card from '../../components/Card.astro';
import CardOffre from '../../components/CardOffre.astro';
import {getData} from '../../js/backend.old.mjs';
import { loadRenderers } from 'astro:container';
import {getOffres} from '../../js/backend.mjs';
import {filterByPrix} from '../../js/backend.mjs';

let offres = []

let message = '';
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();

    const minPrix = parseInt(data.get("minPrix"));
    const maxPrix = parseInt(data.get("maxPrix"));
    console.log(minPrix, maxPrix);
    
    if (minPrix >= 0 && maxPrix > 0 && maxPrix > minPrix) {
         offres = await filterByPrix(minPrix, maxPrix);
        console.log(offres);

        if (offres.length === 0) {
            message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
        } else {
            message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
    }
} else {
    offres = await getData();
}



---


<Base titre="Offres">
    <h1 class="animate-pulse justify-center flex mt-10 text-lg mb-10">Bienvenue sur la page des offres !</h1>
    <div x-data="{ showFavorites: false, viewMode: 'grid' }" class="flex flex-col items-center">
        <div class="flex space-x-4 mb-10">
            <button @click="showFavorites = !showFavorites" class="bg-teal-700 hover:bg-teal-800 text-white font-bold py-2 px-4 rounded-md shadow-md hover:shadow-lg transition duration-300 ease-in-out cursor-pointer transform hover:scale-105 active:scale-95 flex items-center">
                <span class="mr-2" x-show="!showFavorites">⭐</span>
                <span class="mr-2" x-show="showFavorites">🔄</span>
                <span x-show="!showFavorites">Afficher les favoris</span>
                <span x-show="showFavorites">Afficher tout</span>
            </button>
            <button @click="viewMode = 'grid'" :class="viewMode === 'grid' ? 'bg-teal-800' : 'bg-teal-700'" class="text-white font-bold py-2 px-4 rounded-md shadow-md hover:shadow-lg transition duration-300 ease-in-out cursor-pointer transform hover:scale-105 active:scale-95 flex items-center">
                <span class="mr-2">🔲 </span>
                Affichage en grille
            </button>
            <button @click="viewMode = 'list'" :class="viewMode === 'list' ? 'bg-teal-800' : 'bg-teal-700'" class="text-white font-bold py-2 px-4 rounded-md shadow-md hover:shadow-lg transition duration-300 ease-in-out cursor-pointer transform hover:scale-105 active:scale-95 flex items-center">
                <span class="mr-2">📋</span>
                Affichage en liste
            </button>
            
        </div>
        <div class="flex justify-center mb-20">
            <a href="/offres/surface/80" class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded-full shadow-md hover:shadow-lg transition duration-300 ease-in-out transform hover:scale-105 active:scale-95">
                Voir les maisons avec une surface  80 m²
            </a>
            <a href="/offres/prix/300000" class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded-full shadow-md hover:shadow-lg transition duration-300 ease-in-out transform hover:scale-105 active:scale-95">
                Voir les maisons avec un prix  300000 € 
            </a>
        </div>
        <form action="/offres" method="POST" class="flex flex-col items-center space-y-4 mb-10">
            <div class="flex space-x-4">
                <input type="number" name="minPrix" placeholder="Prix minimum" class="border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-teal-500" />
                <input type="number" name="maxPrix" placeholder="Prix maximum" class="border border-gray-300 rounded-md py-2 px-4 focus:outline-none focus:ring-2 focus:ring-teal-500" />
            </div>
            <p>{message}</p>
            <input type="submit" value="Filtrer par prix" class="bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded-md shadow-md hover:shadow-lg transition duration-300 ease-in-out cursor-pointer transform hover:scale-105 active:scale-95" />
            <a href="/offres" class="text-red-500 hover:text-red-700 text-2xl font-bold">&times;</a>        </form>
      

        <div class="w-full transition-all duration-500 ease-in-out">
            <template x-if="!showFavorites">
                <div :class="viewMode === 'grid' ? 'grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4' : 'flex flex-col'">
                    {offres.map((offre) => (
                        <div class="viewMode === 'grid' ? 'w-full mb-4' : 'w-full mb-4'">
                            <CardOffre {...offre} />
                        </div>
                    ))}
                </div>
            </template>
            <template x-if="showFavorites">
                <div :class="viewMode === 'grid' ? 'grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4' : 'flex flex-col'">
                    {offres.filter((offre) => offre.favori).map((offre) => (
                        <div class="viewMode === 'grid' ? 'w-full mb-4' : 'w-full mb-4'">
                            <CardOffre {...offre} />
                        </div>
                    ))}
                </div>
            </template>
        </div>
    </div>
    

    
</Base>